*.pyc
*.bak
testlink
*.icloud
.idea
__pycache__
.DS_Store
.qtcreator
dist
build
packenv
projEnv
.obsidian/workspace.json
*obsidian/workspace.json
.venv/
venv/
env/
.rag_chroma/
.rag_workspace/
.chroma/

